.all{
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 10px;
}

@font-face {
    font-family: "Hanna";
    src: url("../BM-font-package/fonts/ttf/BMHANNAPro.ttf");
}

.a1{
    position: relative;
    bottom: 37px;
}

.a11{
    position: relative;
    bottom: 1200px;
}

.b1{
    position: relative;
    bottom: -27px;
}
.b2{
    position: relative;
    bottom: 55px;
}

.c1{
    position: relative;
    bottom: 55px;
    right: 130px;
}

.c2{
    position: relative;
    bottom: 110px;
}
.c3{
    position: relative;
    bottom: 170px;
    left: 130px;
}



.talk{
    position: relative;
    right: 140px;
}

.home{
    position: relative;
    bottom: 63px;
}

.me{
    position: relative;
    bottom: 131px;
    left: 140px;
}

