.all{
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 10px;
}

@font-face {
    font-family: "Hanna";
    src: url("../BM-font-package/fonts/ttf/BMHANNAPro.ttf");
}

.a1{
    position: relative;
    bottom: 500px;
}
#aa{
    position: relative;
    left: 80px;
}
#bb{
    position: relative;
    left: 50px;
}
#cc{
    position: relative;
    left: 50px;
}

.dd{
    position: relative;
    left: 70px;
}

.a2{
    position: relative;
    bottom: 580px;
}

.a3{
    position: relative;
    bottom: 420px;
}
