.all{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

@font-face {
    font-family: "Hanna";
    src: url("../BM-font-package/fonts/ttf/BMHANNAPro.ttf");
}

.aaaa{
    position: relative;
    bottom: 200px;
}








.name{
    position: relative;
    font-family: "Hanna";
    font-size: 25px;
    right: 160px;
    bottom: 27px;
}

.mini{
    position: relative;
    display: flex;
    font-size: 14px;
    font-weight: 20px;
    bottom: 94px;
    left: 30px;
}

.mini p{
    padding: 1px 8px;
}

.aaa{
    position: relative;
    bottom: 110px;
}

.box{
    position: relative;
    bottom: 110px;
    left: 10px;
}

.foodPic2{
    position: relative;
    bottom: 555px;
    right: 125px;
}

.foodPic3{
    position: relative;
    bottom: 530px;
    right: 125px;
}
.foodPic4{
    position: relative;
    bottom: 500px;
    right: 125px;
}

.text{
    position: relative;
    bottom: 1020px;
}

.text h3{
    padding: 40px;
}

.t1{
    position: relative;
    bottom: 1445px;
    right: 10px;
}
.t1 p{
    margin: 0;
}

.t2{
    position: relative;
    bottom: 1390px;
    right: 10px;
}
.t2 p{
    margin: 0;
}
.t3{
    position: relative;
    bottom: 1333px;
    right: 10px;
}
.t3 p{
    margin: 0;
}
.t4{
    position: relative;
    bottom: 1270px;
    right: 10px;
}
.t4 p{
    margin: 0;
}

.aaaaa{
    position: relative;
    bottom: 680px;
    right: 125px;
}